{% extends 'base.html.twig' %}

{% block title %}User cart!{% endblock %}

{% block body %}
    <div class="container__cart-container">
    <div class="row justify-content-center">
        <div class="col-8__product-list">
            <h1 class="cart-title"> Cart </h1>
            <ul>
                {% for book in books %}               
                <li>
                    {{ include('partials/_infoBook.html.twig') }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <aside class="col-4__checkout">
            <div class="cart__summary">
            <ul>
            {% for book in books %}
                <li>
                    <p><h2>{{book.title}}</h2><span>x1 {{book.price}}</span>    
            {% endfor %}
            </ul>
            <button class="btn btn-success">Checkout</button>
            </div>
        </aside>
    </div>
    
{% endblock %}
