<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Lost pages</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{ (app.request.attributes.get('_route') == 'app_service')  ? 'active': ''}}" href={{ path('app_service') }}>Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ (app.request.attributes.get('_route') == 'app_products')  ? 'active': ''}}" href={{ path('app_products')}}>Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Your wallet (0,0€)</a>
            <a class="dropdown-item" href="#">Profile info</a>
            <a class="dropdown-item" href="#">Settings <i class="fa-solid fa-gear"></i></a>
            <a class="dropdown-item" href="/cart">Cart <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </li>
      </ul>
  </div>
</nav>